USE [master]
GO
/****** Object:  Database [KACS]    Script Date: 03/28/2017 11:21:30 ******/
CREATE DATABASE [KACS] ON  PRIMARY 
( NAME = N'KACS_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\KACS_Data.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'KACS_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\KACS_Log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KACS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KACS]
GO
/****** Object:  User [grahamleighton]    Script Date: 03/28/2017 11:21:31 ******/
CREATE USER [grahamleighton] FOR LOGIN [grahamleighton] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[GalleryItems]    Script Date: 03/28/2017 11:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GalleryItems](
	[GalleryItemID] [bigint] IDENTITY(1,1) NOT NULL,
	[GalleryID] [bigint] NULL,
	[Caption] [varchar](150) NULL,
	[Sequence] [int] NULL,
	[ImageURL] [varchar](150) NULL,
 CONSTRAINT [PK_GalleryItems] PRIMARY KEY CLUSTERED 
(
	[GalleryItemID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_GalleryItems] ON [dbo].[GalleryItems] 
(
	[GalleryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 03/28/2017 11:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gallery](
	[GalleryID] [bigint] IDENTITY(1,1) NOT NULL,
	[GalleryName] [varchar](250) NULL,
	[MenuTitle] [varchar](50) NULL,
	[DateCreated] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Gallery_DateCreated]    Script Date: 03/28/2017 11:21:32 ******/
ALTER TABLE [dbo].[Gallery] ADD  CONSTRAINT [DF_Gallery_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
GO
